<template>
  <div>
    <input
      type="text"
      :value="value"
      @input="handleInput"
      @keydown.enter="addCourse"
    />
    <button @click="addCourse">添加课程1</button>
  </div>
</template>

<script>
import { MyMixin } from '../plugins/myMixin'
export default {
  mixins: [MyMixin],
  props: {
    value: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    addCourse() {
      this.$emit("add-course");
    },
    handleInput(e) {
      this.$emit("input", e.target.value);
    },
  },
};
</script>

<style></style>
