<template>
  <div>
    <p v-if="courses.length === 0">暂无课程</p>
    <div v-else>
      <transition-group name="fade">
        <div
          v-for="c in courses"
          :class="{ active: selectedCourse.name === c.name }"
          :key="c.name"
          @click="handleClick(c)"
        >
          <router-link :to="`/detail/${c.name}`">
            <span>名称：{{ c.name }}</span>
            <span>---</span>
            <span>价格：{{ c.price | capitalize("¥") }}</span>
          </router-link>
          <router-view />
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    courses: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      selectedCourse: {},
    };
  },
  filters: {
    capitalize(value, symbol = "$") {
      return `${symbol}${value}`;
    },
  },
  methods: {
    handleClick(c) {
      this.selectedCourse.name = c.name
    }
  },
};
</script>

<style>
.active {
  background-color: #ddd;
}
</style>
