<template>
  <transition name="fade">
    <div class="message-box" v-if="show">
      <h4>
        <slot name="title"></slot>
      </h4>
      <slot></slot>
      <span @click="$emit('update:show', false)" class="message-box-close"
        >X</span
      >
    </div>
  </transition>
</template>

<script>
export default {
  props: ["show"],
  data() {
    return {};
  },
  created() {
    this.$bus.$on("message-close", () => {
      this.$emit("update:show", false);
    });
  },
};
</script>

<style>
.message-box {
  background-color: #ccc;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
}

.message-box-close {
  float: right;
}
</style>
