<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <div id="root">
        <div>
            <h4>{{msg}}</h4>
            <course-add @add-course="addCourse"></course-add>
            <course-list :courses="courses"></course-list>
            <p>总共有：{{total}}课</p>
            <p>总共有：{{total2}}课</p>
        </div>
    </div>
    <script>
        Vue.component('course-add', {
            props: {},
            data() {
                return {
                    course: ''
                }
            },
            template: `
                <div>
                    <input type="text" v-model="course" v-on:keydown.enter="addCourse" />
                    <button @click="addCourse">添加课程</button>
                </div>
            `,
            methods: {
                addCourse() {
                    this.$emit('add-course', this.course)
                    this.course = ''
                },
            },
        })

        Vue.component('course-list', {
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            data() {
                return {
                    selectedCourse: '',
                }
            },
            template: `
                <div>
                    <p v-if="courses.length === 0">暂无课程</p>
                    <ul v-else>
                        <li v-for="c in courses" :class="{active: selectedCourse === c}" @click="selectedCourse = c">{{c}}</li>
                    </ul>
                </div>
            `
        })

        const vm = new Vue({
            el: '#root',
            data: {
                msg: 'hello',
                total2: '',
                courses: ['web1', 'web12']
            },
            methods: {
                addCourse(course) {
                    this.courses.push(course)
                }
            },
            watch: {
                courses: {
                    immediate: true,
                    handler(newValue) {
                        this.total2 = newValue.length + '门'
                    }
                }
            },
            computed: {
                total() {
                    return this.courses.length + '门'
                }
            }


        })
    </script>
</body>

</html>