<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .active {
            background-color: #ddd;
        }

        .message-box {
            background-color: #ccc;
            border: 1px solid rgb(204, 204, 204);
            padding: 5px;
        }

        .message-box-close {
            float: right;
        }

        .fade-leave-to,
        .fade-enter {
            opacity: 0;
        }

        .fade-leave-active,
        .fade-enter-active {
            transition: opacity 1s;
        }
    </style>
</head>

<body>
    <div id="root">
        <div>
            <h4>{{msg}}</h4>
            <message :show.sync="show">
                <template v-slot:title>标题</template>
                <template>创建成功</template>
            </message>

            <message :show.sync="showWarn">
                <template v-slot:title>警告！</template>
                <template>必须输入名称</template>
            </message>
            
            <input v-focus type="text" v-model.number="price" />
            <button @click="batchUpdate">批量更新价格</button>

            <button @click="clearMessage">清空提示窗</button>

            <course-add1 v-model="course" @add-course="addCourse"></course-add1>
            <course-add2 :value.sync="course" @add-course="addCourse"></course-add2>
            <course-list :courses="courses"></course-list>
            <p>总共有：{{total}}课</p>
            <p>总共有：{{total2}}课</p>
        </div>
    </div>
    <script>
        function getCourses() {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve([{ name: 'a', price: 1 }, { name: 'b', price: 2 }])
                }, 2000)
            })
        }

        Vue.directive('focus', {
            inserted(el) {
                el.focus()
            }
        })

        Vue.prototype.$bus = new Vue()

        const MyMixin = {
            created() {
                console.log('Mixin---created')
            },
            methods: {
                addCourse() {
                    console.log('Mixin--methods')
                }
            },
        }

        Vue.component('message', {
            props: ['show'],
            template: `
                <transition name="fade">
                    <div class="message-box" v-if="show">
                        <h4>
                            <slot name="title"></slot>
                        </h4>
                        <slot></slot>
                        <span @click="$emit('update:show',false)" class="message-box-close">X</span>        
                    </div> 
                </transition>  
            `,
            created(){
                this.$bus.$on('message-close', () => {
                    this.$emit('update:show',false)
                })
            },
        })

        Vue.component('course-add1', {
            mixins: [MyMixin],
            props: {
                value: {
                    type: String,
                    default: '',
                }
            },
            data() {
                return {}
            },
            created() {
                console.log('course-add1---created')
            },
            template: `
                <div>
                    <input type="text" :value="value" @input="handleInput" @keydown.enter="addCourse" />
                    <button @click="addCourse">添加课程1</button>
                </div>
            `,
            methods: {
                addCourse() {
                    console.log('course-add1---methods')
                    this.$emit('add-course')
                },
                handleInput(e) {
                    this.$emit('input', e.target.value)
                }
            },
        })

        Vue.component('course-add2', {
            props: {
                value: {
                    type: String,
                    default: '',
                }
            },
            data() {
                return {}
            },
            template: `
                <div>
                    <input type="text" :value="value" @input="handleInput" @keydown.enter="addCourse" />
                    <button @click="addCourse">添加课程2</button>
                </div>
            `,
            methods: {
                addCourse() {
                    this.$emit('add-course')
                },
                handleInput(e) {
                    this.$emit('update:value', e.target.value)
                }
            },
        })

        Vue.component('course-list', {
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            data() {
                return {
                    selectedCourse: '',
                }
            },
            created() {
                console.log(this.courses, 'courses')
            },
            filters: {
                capitalize(value, symbol = '$') {
                    console.log(value, symbol, 'filters--capitalize')
                    return `${symbol }${value}`
                }
            },
            template: `
                <div>
                    <p v-if="courses.length === 0">暂无课程</p>
                    <div v-else>
                        <transition-group name="fade">
                            <div v-for="c in courses" 
                                :class="{active: selectedCourse.name === c.name}" 
                                :key="c.name"
                                @click="selectedCourse.name = c.name">
                                <span>名称：{{c.name}}</span>-- <span>价格：{{c.price | capitalize('¥')}}</span>
                            </div>
                        </transition-group>
                    </div>
                </div>
            `
        })

        const vm = new Vue({
            el: '#root',
            data: {
                msg: 'hello',
                total2: '',
                course: '',
                show: false,
                showWarn: false,
                price: '',
                courses: []
            },
            created() {
                getCourses().then(courses => {
                    this.courses = courses
                })
            },
            methods: {
                addCourse() {
                    if (this.course) {
                        this.courses.push({ name: this.course, price: 0 })
                        this.course = ''
                        this.show = true
                    } else {
                        this.showWarn = true
                    }
                },
                batchUpdate() {
                    this.courses.forEach(item => {
                        Vue.set(item, 'price', this.price)
                    });
                },
                clearMessage() {
                    this.$bus.$emit('message-close')
                },
            },
            watch: {
                courses: {
                    immediate: true,
                    handler(newValue) {
                        this.total2 = newValue.length + '门'
                    }
                }
            },
            computed: {
                total() {
                    return this.courses.length + '门'
                }
            }


        })
    </script>
</body>

</html>