<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/admin">Admin</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


#app >>> a {
  color: #42b983
}

/* scss不能使用 >>> ，使用的 /deep/ 或者 ::v-deep  */
/* #app {
  /deep/ a {
    color: #b9426a
  }
}

#app {
  ::v-deep a {
    color: #ccc
  }
} */
</style>

