<template>
  <div id="app">
    <div>
      <h4>{{ msg }} -- {{welcome}}</h4>
      <button @click="handleLogout">注销</button>
      <message :show.sync="show">
        <template v-slot:title>标题</template>
        <template>创建成功</template>
      </message>

      <message :show.sync="showWarn">
        <template v-slot:title>警告！</template>
        <template>必须输入名称</template>
      </message>

      <input v-focus type="text" v-model.number="price" />
      <button @click="batchUpdate">批量更新价格</button>

      <button @click="clearMessage">清空提示窗</button>

      <course-add1 v-model="course" @add-course="addCourse"></course-add1>
      <course-add2 :value.sync="course" @add-course="addCourse"></course-add2>
      <course-list :courses="courses"></course-list>
      <p>总共有：{{ total }}课</p>
      <p>总共有：{{ total2 }}课</p>
    </div>
  </div>
</template>

<script>
import CourseAdd1 from "./../components/CourseAdd1.vue";
import CourseAdd2 from "./../components/CourseAdd2.vue";
import CourseList from "./../components/CourseList.vue";
import Message from "./../components/Message.vue";
import { mapGetters } from 'vuex'

function getCourses() {
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve([
        { name: "a", price: 1 },
        { name: "b", price: 2 },
      ]);
    }, 2000);
  });
}



export default {
  name: "App",
  components: {
    "course-add1": CourseAdd1,
    "course-add2": CourseAdd2,
    "course-list": CourseList,
    message: Message,
  },
  data() {
    return {
      msg: "hello",
      total2: "",
      course: "",
      show: false,
      showWarn: false,
      price: "",
      courses: [],
    };
  },
  created() {
    getCourses().then((courses) => {
      this.courses = courses;
    });
  },
  methods: {
    addCourse() {
      if (this.course) {
        this.courses.push({ name: this.course, price: 0 });
        this.course = "";
        this.show = true;
      } else {
        this.showWarn = true;
      }
    },
    batchUpdate() {
      this.courses.forEach((item) => {
        this.$set(item, "price", this.price);
      });
    },
    clearMessage() {
      this.$bus.$emit("message-close");
    },
    handleLogout() {
      this.$store.commit('user/logout')
      this.$router.push('/login')
    },
  },
  watch: {
    courses: {
      immediate: true,
      handler(newValue) {
        this.total2 = newValue.length + "门";
      },
    },
  },
  computed: {
    // 方法一: 推荐这种
    ...mapGetters('user', {
      welcome: 'welcome'
    }),

    // 方法二
    // ...mapGetters('user', ['welcome']),

  
    total() {
      return this.courses.length + "门";
    },
  },
};
</script>

<style>
.fade-leave-to,
.fade-enter {
  opacity: 0;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 1s;
}
</style>
