<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <p>home</p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
  }
}
</script>
