<template>
  <div>
    <button v-if="isLogin" @click="handleOut">注销</button>
    <p v-else>
      <button @click="handleLogin1">登录1</button>
      <button @click="handleLogin2">登录2</button>
      <button @click="handleLogin3">登录3</button>
    </p>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Login",
  methods: {
    ...mapActions(["user/login2", "user/logout"]),
    handleLogin1() {
      this.$store.commit("user/login", { username: "admin" });
      this.$router.push(this.$route.query?.redirect || '/admin');
    },
    handleLogin2() {
      this.$store
        .dispatch("user/login2", { username: "admin" })
        .then(() => {
          this.$router.push(this.$route.query?.redirect || '/admin');
        })
        .catch(() => {
          alert("用户名错误");
        });
    },
    handleLogin3() {
      this["user/login2"]({ username: "admin" })
        .then(() => {
          this.$router.push(this.$route.query?.redirect || '/admin');
        })
        .catch(() => {
          alert("用户名错误");
        });
    },
    handleOut() {
      this.$store.commit("user/logout");
    },
  },
  watch: {
    "$store.state.user.isLogin": {
      immediate: true,
      handler(isLogin) {
        if (isLogin) {
          // this.$router.replace("/admin");
        }
      },
    },
  },
  computed: {
    // 方法一
    // ...mapState("user", ["isLogin"]),

    // 方法二
    // ...mapState("user", {
    //   isLogin: 'isLogin'
    // }),

    // 方法三 推荐这种
    ...mapState({
      isLogin: (state) => {
        return state.user.isLogin;
      },
    }),
    // isLogin() {
    //   return this.$store.state.user.isLogin;
    // },
  },
};
</script>

<style></style>
